.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .title {
    font-size: 2rem;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
  }
  
  .label {
    font-size: 0.875rem;
    color: var(--secondary-color);
  }
  
  .input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
  }
  
  .input:focus {
    outline: none;
    border: 1px solid #333 ;
  }
  
  .errorMessage {
    color:var(--secondary-color);
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  .buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

  .button {
    width: 210px;   
    height: 40px; 
    text-align: center;
    margin-top: 20px;
    border: 2px solid #488FCA;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: #333;
    cursor: pointer;
    font-size: 16px;
  }
    
  .errorText {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 1rem;
  }
  